.bg-secone{
    background-color: #FFF9F5;
    background: url(../img/banner.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 100vh;
    width: 100%;
}
.my-h1{
    font-size: 50px;
}
.bg-sectwo{
    background-color: #FFF9F5;
    height: 100vh;
    width: 100%;
    text-align: center;
}
.my-h1b{
    font-size: 45px;
}
.text-brown{
    color: #FF8F07;
}
.btn-brown{
    background-color: #FF8F07;
    color: #000000;
}
.btn-brown:hover{
    color: #ffffff;
}
.btn-outline-brown{
    color: #FF8F07;
    border:  2px solid #FF8F07;
    transition: ease .5s;

}
.btn-outline-brown:hover{
    background-color: #FF8F07;
    color: #000000;

}
.nav-link{
    font-size: 14px;
}